body {
  margin: 0;
  
}

body{
  background: #FAF3F3;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
